name: lint-test
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [ main, master, development ]

jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v5
        with:
          go-version: '1.24.x'
          check-latest: true

      - uses: golangci/golangci-lint-action@v8
        with:
          version: v2.2.2
          install-mode: goinstall
          args: --config=golangci.yaml ./...
          skip-cache: true 