name: linter tests

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - master
      - development

jobs:
  statictest:
    runs-on: ubuntu-latest
    container: golang:1.24
    steps:
      - name: Run linter
        run: |
          golangci-lint run ./...
